.flexer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 10px;

    transform: translateY(-100px);
}

.item-3 {
    height: 5rem;
}